/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --wrapper_width: 1100px;
  --wrapper_horizontal_padding: 2rem;
  --header_height: 45px;
  --card_right_margin: 1rem;
  --bg_header: #ff6900;
  --light_text_color: white;
}
body {
  font-family: "Open Sans", sans-serif;
}
.wrapper {
  max-width: var(--wrapper_width);
  padding: 0 var(--wrapper_horizontal_padding);
  margin: 0 auto;
}
/* /general */

/* header */
header {
  background-color: var(--bg_header);
  width: 100vw;
  height: var(--header_height);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
header .wrapper {
  height: 100%;
  align-items: center;
  display: flex;
}
header nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  color: var(--light_text_color);
}
nav ul {
  display: flex;
  list-style: none;
  gap: 0.6rem;
}
nav .logo img {
  width: 6rem;
  transform: translate(-25%, 0);
}
nav .icone {
  display: flex;
  gap: 0.6rem;
}
/* /header */

/* main */
main {
  position: relative;
  top: var(--header_height);
  left: 0;
}
main .flex_container {
  display: flex;
  flex-flow: row wrap;
}
main .card {
  width: calc((var(--wrapper_width) - (var(--wrapper_horizontal_padding) * 2) - (var(--card_right_margin) * 3)) / 3);
  margin-top: 2rem;
  margin-right: var(--card_right_margin);
}
main .card .img_container {
  position: relative;
}
.card .img_container img {
  width: 100%;
}
.card .img_container img:last-of-type {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.card .img_container:hover img:last-of-type {
  display: block;
}
.heart {
  position: absolute;
  top: 0.5rem;
  right: 0;
  background-color: white;
  font-size: 2rem;
  padding: 0.2rem 0.6rem;
}
.heart:hover {
  color: red;
}
.bottom_left {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
}
.bg_text_red {
  background-color: red;
}
.bg_text_green {
  background-color: green;
}
.bg_text_red,
.bg_text_green {
  color: var(--light_text_color);
  padding: 0.2rem;
}
main .card .img_container .flex_container {
  gap: 0.2rem;
}
.card .text_container {
  display: flex;
  flex-flow: column nowrap;
}
.card .text_container .flex_container {
  gap: 0.2rem;
}
.marca {
  text-transform: capitalize;
}
.prodotto {
  text-transform: uppercase;
}
.costo {
  color: red;
}
.costo_non_scontato {
  text-decoration: line-through;
}
/* /main */
